body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  color: black;
}

li {
border: 1px solid black;	
}

#navbar_brand_our {
font-size: 30px;
color: black;	
}

.backgroundColor
 {
	background-color: #999999;
}

#bs-example-navbar-collapse-1 {
	background-color: #999999;
	color: black;
}
.navbar-nav {
	background-color: white;
	color: black;	
}

#bs-example-navbar-collapse-2 {
	background-color: white;
}

.menu
 {
	background-color: white;
	font-size: 2.0em;
	color: black;
	border-color: black;
	border-width: thick;	
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.ourIconBar {
background-color: black;

}

p {
margin-top: 12px;	
}

.h1 {
 margin-bottom: 30px;	
}

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#chicken, #beef, #shushi {
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  padding: 20px;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}

.menuTitle {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
}


/* END HOME PAGE */